In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
df=pd.read_csv('colaborative_filtering.csv')
df

,Unnamed: 0,Abohar,Achalpur,Adilabad,Adityapur,Adoni,Agartala,Agra,Ahmedabad,Ahmednagar,...,Veraval,Vidisha,Vijayawada,Visakhapatnam,Visakhapatnam.1,Vizianagaram,Warangal,Wardha,Yamunanagar,Yavatmal
0,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1002,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1003,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1004,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14517,15518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14518,15519,NaN,4.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14519,15520,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14520,15521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14521,15522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_1=df.copy()

In [4]:
df.rename(columns={'Unnamed: 0':'cust_id'},inplace=True)

In [5]:
df['cust_id'].nunique()

14522

In [6]:
df_final=df.set_index('cust_id').T
df_final

cust_id,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,15513,15514,15515,15516,15517,15518,15519,15520,15521,15522
Abohar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Achalpur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,4.0,NaN,NaN,NaN
Adilabad,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
Adityapur,NaN,5.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
Adoni,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vizianagaram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Warangal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wardha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yamunanagar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yavatmal,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_final.index=df_final.index.str.lower()

In [8]:
df_final.index=df_final.index.str.replace(' ','')

In [9]:
df_final

cust_id,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,15513,15514,15515,15516,15517,15518,15519,15520,15521,15522
abohar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
achalpur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,4.0,NaN,NaN,NaN
adilabad,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
adityapur,NaN,5.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
adoni,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
vizianagaram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
warangal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wardha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
yamunanagar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
yavatmal,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_final_1=df_final.copy()
df_final_1

cust_id,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,15513,15514,15515,15516,15517,15518,15519,15520,15521,15522
abohar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
achalpur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,4.0,NaN,NaN,NaN
adilabad,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
adityapur,NaN,5.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
adoni,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
vizianagaram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
warangal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wardha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
yamunanagar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
yavatmal,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_final_1['total_rating']=df_final_1.sum(axis=1)

In [12]:
df_final_1['total_cust']=df_final_1.count(axis=1)

In [13]:
df_final_1

cust_id,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,15515,15516,15517,15518,15519,15520,15521,15522,total_rating,total_cust
abohar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2066.0,705
achalpur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,4.0,NaN,NaN,NaN,2134.0,696
adilabad,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,2085.0,690
adityapur,NaN,5.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,2136.0,715
adoni,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,2189.0,731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
vizianagaram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2178.0,745
warangal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2097.0,716
wardha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994.0,660
yamunanagar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968.0,662
yavatmal,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2189.0,734

In [14]:
df_final=df_final.replace(np.nan,0)
df_final

cust_id,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,15513,15514,15515,15516,15517,15518,15519,15520,15521,15522
abohar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
achalpur,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0,0.0,0.0
adilabad,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
adityapur,0.0,5.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
adoni,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
vizianagaram,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
warangal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
wardha,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
yamunanagar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
yavatmal,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## cosine similarity...

In [15]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_score=cosine_similarity(df_final)
similarity_score[0]

array([1.        , 0.03974911, 0.02316659, 0.03153655, 0.04341316,
       0.03486625, 0.04074933, 0.04859538, 0.0463904 , 0.04726254,
       0.04726254, 0.05076831, 0.03563601, 0.04708993, 0.02774677,
       0.03060594, 0.05007562, 0.04540159, 0.05010582, 0.03527659,
       0.06004098, 0.02594449, 0.04094166, 0.04229454, 0.0320484 ,
       0.04236718, 0.0285395 , 0.04530631, 0.04778295, 0.05261865,
       0.05345121, 0.04245199, 0.03290896, 0.03217122, 0.02430243,
       0.02430243, 0.02430243, 0.02430243, 0.0410475 , 0.03140946,
       0.02883937, 0.03271572, 0.03331551, 0.03852572, 0.03171817,
       0.04838413, 0.05777819, 0.0424428 , 0.04836003, 0.04380928,
       0.04437828, 0.049456  , 0.03310717, 0.02982281, 0.03480917,
       0.05259286, 0.04817403, 0.03728473, 0.03299547, 0.03694179,
       0.02687282, 0.02803114, 0.02874838, 0.03543647, 0.04611302,
       0.03318754, 0.03108838, 0.04609311, 0.04536661, 0.03245911,
       0.02257774, 0.04457534, 0.04290672, 0.04989181, 0.0420284 ,
       0.04246637, 0.03945257, 0.04917397, 0.03432857, 0.04369321,
       0.02689455, 0.04531255, 0.02273035, 0.03777669, 0.04274091,
       0.04425243, 0.02759362, 0.04368742, 0.02166382, 0.04224748,
       0.03950642, 0.02660636, 0.03028327, 0.0341179 , 0.05347088,
       0.04222113, 0.03255854, 0.04414848, 0.04442875, 0.04277477,
       0.03965132, 0.04035237, 0.03386764, 0.04757656, 0.0289322 ,
       0.02993698, 0.04696594, 0.04092148, 0.05090684, 0.03371571,
       0.03502018, 0.03262589, 0.03742898, 0.03395874, 0.04854479,
       0.03917673, 0.02349909, 0.04845701, 0.0389668 , 0.03708873,
       0.03243222, 0.04142739, 0.03873996, 0.05082747, 0.03095431,
       0.04124882, 0.04697993, 0.03172906, 0.03064403, 0.04160968,
       0.05462073, 0.04757769, 0.03321401, 0.03684339, 0.02475543,
       0.04204799, 0.03132471, 0.05480419, 0.04644879, 0.04658846,
       0.03817344, 0.03372998, 0.06210551, 0.05617769, 0.03600369,
       0.03694466, 0.04303631, 0.04309132, 0.03891778, 0.04397047,
       0.04219095, 0.03807531, 0.04516408, 0.04463304, 0.05536938,
       0.04980562, 0.0329757 , 0.03871358, 0.02974511, 0.0458571 ,
       0.03359473, 0.03295662, 0.04355889, 0.05544395, 0.02796659,
       0.03611684, 0.04756831, 0.04509747, 0.02947111, 0.04390626,
       0.02945868, 0.03045079, 0.0346042 , 0.02738637, 0.04677225,
       0.05719769, 0.04722096, 0.04172444, 0.03898391, 0.05569024,
       0.03823616, 0.05093632, 0.03386301, 0.04378094, 0.04149407,
       0.04169442, 0.03766131, 0.05646525, 0.02811124, 0.03293203,
       0.02814954, 0.02632158, 0.02409155, 0.04132472, 0.04414763,
       0.03326751, 0.03218107, 0.04626918, 0.04779485, 0.04046222,
       0.02931385, 0.03464582, 0.0414765 , 0.03419288, 0.04023572,
       0.04389444, 0.03820832, 0.04927487, 0.04986706, 0.03511424,
       0.03794862, 0.02418356, 0.03880449, 0.03561402, 0.03317735,
       0.05120956, 0.05395785, 0.04638479, 0.03354524, 0.03553184,
       0.05200053, 0.03638991, 0.02802189, 0.03895806, 0.02746959,
       0.0435632 , 0.03995043, 0.04109634, 0.0420646 , 0.04357662,
       0.03728684, 0.04829787, 0.04458571, 0.04926846, 0.03939203,
       0.02773139, 0.03985958, 0.0366709 , 0.02658996, 0.03110003,
       0.0415363 , 0.03556357, 0.03411827, 0.03017774, 0.04035666,
       0.03940309, 0.04947146, 0.03493275, 0.04101918, 0.04059528,
       0.0361537 , 0.03946969, 0.03553139, 0.04955961, 0.04260495,
       0.04007024, 0.03205971, 0.02623515, 0.03390967, 0.0566002 ,
       0.05170009, 0.03874647, 0.04252582, 0.03940855, 0.04349183,
       0.0303232 , 0.02881375, 0.03838442, 0.03595914, 0.03393184,
       0.06241629, 0.03579272, 0.03211715, 0.04489168, 0.03735027,
       0.03348715, 0.04298447, 0.03227341, 0.04040578, 0.04327683,
       0.04316046, 0.03874537, 0.03213793, 0.02911531, 0.03342775,
       0.02699011, 0.02844316, 0.03634454, 0.03927466, 0.03609102,
       0.04909879, 0.03744033, 0.03871642, 0.04805549, 0.0415053 ,
       0.03934645, 0.04609834, 0.02515157, 0.02691664, 0.03027494,
       0.03994205, 0.0282443 , 0.04481454, 0.03714235, 0.04650621,
       0.04515254, 0.05259396, 0.0328187 , 0.04123053, 0.05106118,
       0.03046837, 0.06366329, 0.03952964, 0.0400643 , 0.04492424,
       0.0626233 , 0.03996256, 0.04408864, 0.04318974, 0.03165499,
       0.03822708, 0.03321838, 0.04267629, 0.03535445, 0.04332067,
       0.03883301, 0.03818058, 0.02704595, 0.02811057, 0.04592586,
       0.02939975, 0.04802497, 0.02288358, 0.03261752, 0.03577552,
       0.02894753, 0.03289262, 0.04195158, 0.02676413, 0.04889866,
       0.04296898, 0.03923705, 0.02117306, 0.03706339, 0.03529832,
       0.03979191, 0.03107276, 0.03089457, 0.03448595, 0.03852741,
       0.03036034, 0.04820054, 0.02465991, 0.0434186 , 0.04848   ,
       0.05492296, 0.04147884, 0.05377606, 0.03711572, 0.04300072,
       0.04666167, 0.02142442, 0.03775315, 0.0395208 , 0.04147818,
       0.03968285, 0.03514465, 0.03458882, 0.03470387, 0.05333034,
       0.03458991, 0.03648931, 0.05249741, 0.01805358, 0.03746951,
       0.04006373, 0.0299701 , 0.03814895, 0.03256679, 0.03065618,
       0.04584243, 0.02698754, 0.04067326, 0.03887345, 0.04873514,
       0.02722717, 0.03997264, 0.04664149, 0.04339009, 0.03316676,
       0.04838059, 0.04646019, 0.04205738, 0.03798923, 0.04406846,
       0.04148618, 0.03657251, 0.04166552, 0.03408204, 0.04325942,
       0.04832039, 0.03574424, 0.03620051, 0.03822298, 0.0475691 ,
       0.02556456, 0.04939409, 0.04436409, 0.04631756, 0.0383332 ,
       0.0322735 , 0.03899904, 0.02986874, 0.04227061, 0.03626946,
       0.04435634, 0.03937735, 0.03555143, 0.03530209, 0.04727485,
       0.02619227, 0.0465088 , 0.02735147, 0.05226544, 0.05852374,
       0.04366527, 0.03664244, 0.03746957, 0.04038377, 0.03521221,
       0.03611873, 0.03668896, 0.0324672 , 0.03159973, 0.04555107,
       0.03552725, 0.04250921, 0.03685242, 0.02704458, 0.04131293,
       0.03537669, 0.04602496, 0.03623161, 0.03429075, 0.02962107,
       0.0328691 , 0.03100218, 0.03948163, 0.0392015 , 0.03997322,
       0.01945654, 0.02968114, 0.03403229, 0.04918419, 0.04918419,
       0.04183683, 0.0483449 , 0.03037763, 0.03874617, 0.04737193])

In [16]:
similarity_score.shape

(460, 460)

In [31]:
np.where(df_final.index=='adoni')[0][0]

4

In [18]:
sorted(list(enumerate(similarity_score[0])),key=lambda x:x[1],reverse=True)[1:6]

[(311, 0.06366328583520131),
 (315, 0.06262329744500687),
 (270, 0.062416287168497196),
 (142, 0.06210550770351283),
 (20, 0.06004097914488059)]

In [19]:
df_final.index[0]

'abohar'

In [20]:
def recomd_city(city):
    indexes=np.where(df_final.index==city)[0][0]
    similar_city=sorted(list(enumerate(similarity_score[indexes])),key=lambda x:x[1],reverse=True)[1:6]
    
    for i in similar_city:
        print(df_final.index[i[0]])

In [21]:
list(df_final.index)

['abohar',
 'achalpur',
 'adilabad',
 'adityapur',
 'adoni',
 'agartala',
 'agra',
 'ahmedabad',
 'ahmednagar',
 'aizawl',
 'aizawl.1',
 'ajmer',
 'akbarpur',
 'akola',
 'alandur',
 'alappuzha',
 'aligarh',
 'allahabad',
 'alwar',
 'ambala',
 'ambarnath',
 'ambattur',
 'ambikapur',
 'ambur',
 'amravati',
 'amreli',
 'amritsar',
 'amroha',
 'anand',
 'anantapur',
 'anantnag',
 'arrah',
 'asansol',
 'ashoknagarkalyangarh',
 'aurangabad',
 'aurangabad.1',
 'aurangabad.2',
 'aurangabad.3',
 'avadi',
 'azamgarh',
 'badlapur',
 'bagaha',
 'bagalkot',
 'bahadurgarh',
 'bahraich',
 'baidyabati',
 'baleshwartown',
 'ballia',
 'balurghat',
 'banda',
 'bankura',
 'bansberia',
 'banswara',
 'baran',
 'baranagar',
 'barasat',
 'baraut',
 'barddhaman',
 'bareilly',
 'baripadatown',
 'barnala',
 'barshi',
 'basirhat',
 'basti',
 'batala',
 'bathinda',
 'beawar',
 'begusarai',
 'belgaum',
 'bellary',
 'bengaluru',
 'bettiah',
 'betul',
 'bhadrak',
 'bhadravati',
 'bhadreswar',
 'bhagalpur',
 'bhalswajahangirpur',
 'bharatpur',
 'bharuch',
 'bhatpara',
 'bhavnagar',
 'bhilainagar',
 'bhilwara',
 'bhimavaram',
 'bhind',
 'bhiwadi',
 'bhiwandi',
 'bhiwani',
 'bhopal',
 'bhubaneswartown',
 'bhuj',
 'bhusawal',
 'bidar',
 'bidhannagar',
 'biharsharif',
 'bijapur',
 'bikaner',
 'bilaspur',
 'bokarosteelcity',
 'bongaon',
 'botad',
 'brahmapurtown',
 'budaun',
 'bulandshahr',
 'bundi',
 'burari',
 'burhanpur',
 'buxar',
 'champdani',
 'chandannagar',
 'chandausi',
 'chandigarh',
 'chandrapur',
 'chapra',
 'chennai',
 'chhattarpur',
 'chhindwara',
 'chikmagalur',
 'chitradurga',
 'chittaurgarh',
 'chittoor',
 'churu',
 'coimbatore',
 'cuddalore',
 'cuttack',
 'dallopura',
 'damoh',
 'darbhanga',
 'darjiling',
 'datia',
 'davanagere',
 'deesa',
 'dehradun',
 'dehri',
 'delhi',
 'deoghar',
 'deoria',
 'dewas',
 'dhanbad',
 'dharmavaram',
 'dhaulpur',
 'dhule',
 'dibrugarh',
 'dimapur',
 'dindigul',
 'durg',
 'durgapur',
 'eluru',
 'englishbazar',
 'erode',
 'etah',
 'etawah',
 'faizabad',
 'faridabad',
 'fatehpur',
 'firozabad',
 'firozpur',
 'gadag-betigeri',
 'gandhidham',
 'gandhinagar',
 'ganganagar',
 'gangapurcity',
 'gangawati',
 'gaya',
 'ghazipur',
 'giridih',
 'godhra',
 'gokalpur',
 'gondal',
 'gondiya',
 'gorakhpur',
 'greaterhyderabad',
 'greatermumbai',
 'greaternoida',
 'gudivada',
 'gulbarga',
 'guna',
 'guntakal',
 'guntur',
 'gurgaon',
 'guwahati',
 'gwalior',
 'hajipur',
 'haldia',
 'hanumangarh',
 'haora',
 'hapur',
 'hardoi',
 'hardwar',
 'hassan',
 'hastsal',
 'hathras',
 'hindaun',
 'hindupur',
 'hinganghat',
 'hisar',
 'hoshangabad',
 'hoshiarpur',
 'hospet',
 'hosur',
 'hubli-dharwad',
 'ichalkaranji',
 'imphal',
 'indore',
 'jabalpur',
 'jagadhri',
 'jagdalpur',
 'jaipur',
 'jalandhar',
 'jalgaon',
 'jalna',
 'jalpaiguri',
 'jamalpur',
 'jammu',
 'jamnagar',
 'jamshedpur',
 'jaunpur',
 'jehanabad',
 'jetpurnavagadh',
 'jhansi',
 'jind',
 'jodhpur',
 'junagadh',
 'kadapa',
 'kaithal',
 'kakinada',
 'kalol',
 'kalyani',
 'kamarhati',
 'kancheepuram',
 'kanchrapara',
 'kanpur',
 'kanpurcity',
 'karaikkudi',
 'karawalnagar',
 'karimnagar',
 'karnal',
 'kasganj',
 'kashipur',
 'katihar',
 'khammam',
 'khandwa',
 'khanna',
 'kharagpur',
 'khardaha',
 'khargone',
 'khora',
 'khurja',
 'kishanganj',
 'kishangarh',
 'kochi',
 'kolar',
 'kolhapur',
 'kolkata',
 'kollam',
 'korba',
 'kota',
 'kozhikode',
 'krishnanagar',
 'kulti',
 'kumbakonam',
 'kurnool',
 'lakhimpur',
 'lalitpur',
 'latur',
 'loni',
 'lucknow',
 'ludhiana',
 'machilipatnam',
 'madanapalle',
 'madavaram',
 'madurai',
 'mahbubnagar',
 'mahesana',
 'mainpuri',
 'malegaon',
 'malerkotla',
 'mandsaur',
 'mandya',
 'mangalore',
 'mathura',
 'maunathbhanjan',
 'medinipur',
 'meerut',
 'miryalaguda',
 'modinagar',
 'moga',
 'moradabad',
 'morena',
 'morvi',
 'motihari',
 'mughalsarai',
 'muktsar',
 'munger',
 'murwara',
 'mustafabad',
 'muzaffarnagar',
 'muzaffarpur',
 'mysore',
 'nabadwip',
 'nadiad',
 'nagaon',
 'nagapattinam',
 'nagaur',
 'nagda',
 'nagercoil',
 'nagpur',
 'naihati',
 'nalgonda',
 'nandedwaghala',
 'nandurbar',
 'nandyal',
 'nangloijat',
 'narasaraopet',
 'nashik',
 'navimumbai',
 'navimumbaipanvelraigarh',
 'navsari',
 'neemuch',
 'nellore',
 'newdelhi',
 'neyveli',
 'nizamabad',
 'noida',
 'northbarrackpur',
 'northdumdum',
 'ongole',
 'orai',
 'osmanabad',
 'ozhukarai',
 'palakkad',
 'palanpur',
 'pali',
 'pallavaram',
 'palwal',
 'panchkula',
 'panihati',
 'panipat',
 'panvel',
 'parbhani',
 'patan',
 'pathankot',
 'patiala',
 'patna',
 'pilibhit',
 'pimprichinchwad',
 'pithampur',
 'porbandar',
 'portblair',
 'proddatur',
 'puducherry',
 'pudukkottai',
 'pune',
 'puri',
 'purnia',
 'puruliya',
 'raebareli',
 'raichur',
 'raiganj',
 'raigarh',
 'raipur',
 'rajahmundry',
 'rajapalayam',
 'rajarhatgopalpur',
 'rajkot',
 'rajnandgaon',
 'rajpursonarpur',
 'ramagundam',
 'rampur',
 'ranchi',
 'ranibennur',
 'raniganj',
 'ratlam',
 'raurkelaindustrialtownship',
 'raurkelatown',
 'rewa',
 'rewari',
 'rishra',
 'robertsonpet',
 'rohtak',
 'roorkee',
 'rudrapur',
 's.a.s.nagar',
 'sagar',
 'saharanpur',
 'saharsa',
 'salem',
 'sambalpur',
 'sambhal',
 'sanglimirajkupwad',
 'santipur',
 'sasaram',
 'satara',
 'satna',
 'sawaimadhopur',
 'secunderabad',
 'sehore',
 'seoni',
 'serampore',
 'shahjahanpur',
 'shamli',
 'shillong',
 'shimla',
 'shimoga',
 'shivpuri',
 'sikar',
 'silchar',
 'siliguri',
 'singrauli',
 'sirsa',
 'sitapur',
 'siwan',
 'solapur',
 'sonipat',
 'srikakulam',
 'srinagar',
 'sujangarh',
 'sultanpur',
 'surat',
 'suryapet',
 'tadepalligudem',
 'tadpatri',
 'tenali',
 'thanesar',
 'thanjavur',
 'thiruvananthapuram',
 'thoothukkudi',
 'thrissur',
 'tiruchirappalli',
 'tirunelveli',
 'tirupati',
 'tiruppur',
 'tiruvannamalai',
 'tiruvottiyur',
 'titagarh',
 'tonk',
 'tumkur',
 'udaipur',
 'udgir',
 'udupi',
 'ujjain',
 'ulhasnagar',
 'uluberia',
 'unnao',
 'uttarparakotrung',
 'vadodara',
 'valsad',
 'varanasi',
 'vellore',
 'veraval',
 'vidisha',
 'vijayawada',
 'visakhapatnam',
 'visakhapatnam.1',
 'vizianagaram',
 'warangal',
 'wardha',
 'yamunanagar',
 'yavatmal']

In [22]:
recomd_city('mangalore')

mandsaur
panvel
jodhpur
moga
nizamabad

In [23]:
df_final_1[(df_final_1.index=='mandsaur') | (df_final_1.index=='panvel') | (df_final_1.index=='jodhpur') | (df_final_1.index=='moga') | (df_final_1.index=='nizamabad') | (df_final_1.index=='manglore')]

cust_id,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,15515,15516,15517,15518,15519,15520,15521,15522,total_rating,total_cust
jodhpur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1983.0,664
mandsaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2064.0,693
moga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2169.0,734
nizamabad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,671
panvel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2034.0,691

In [24]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 460 entries, abohar to yavatmal
Columns: 14522 entries, 1001 to 15522
dtypes: float64(14522)
memory usage: 51.0+ MB