In [1]:
import pandas as pd
import numpy as np
# pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_csv('colaborative_filtering.csv')
df.head()

,Unnamed: 0,Abohar,Achalpur,Adilabad,Adityapur,Adoni,Agartala,Agra,Ahmedabad,Ahmednagar,...,Veraval,Vidisha,Vijayawada,Visakhapatnam,Visakhapatnam.1,Vizianagaram,Warangal,Wardha,Yamunanagar,Yavatmal
0,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1002,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1003,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1004,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0

In [3]:
u=df.count().to_frame()
u.rename(columns = {0:'no. of rating'},inplace = True)

In [4]:
u = u.drop('Unnamed: 0',axis= 0)

In [5]:
u[u['no. of rating'] < 50]

Empty DataFrame
Columns: [no. of rating]
Index: []

In [6]:
u

               no. of rating
Abohar                   704
Achalpur                 695
Adilabad                 689
Adityapur                714
Adoni                    730
...                      ...
Vizianagaram             744
Warangal                 715
Wardha                   659
Yamunanagar              661
Yavatmal                 733

[460 rows x 1 columns]

In [7]:
df

,Unnamed: 0,Abohar,Achalpur,Adilabad,Adityapur,Adoni,Agartala,Agra,Ahmedabad,Ahmednagar,...,Veraval,Vidisha,Vijayawada,Visakhapatnam,Visakhapatnam.1,Vizianagaram,Warangal,Wardha,Yamunanagar,Yavatmal
0,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1002,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1003,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1004,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14517,15518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14518,15519,NaN,4.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14519,15520,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14520,15521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14521,15522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_final = df

In [9]:
df_final.set_index('Unnamed: 0',inplace=True)

In [10]:
# df_final = df_final.drop('Unnamed: 0',axis=1)

In [11]:
df_final = df_final.fillna(0)
df_final

,Abohar,Achalpur,Adilabad,Adityapur,Adoni,Agartala,Agra,Ahmedabad,Ahmednagar,Aizawl,...,Veraval,Vidisha,Vijayawada,Visakhapatnam,Visakhapatnam.1,Vizianagaram,Warangal,Wardha,Yamunanagar,Yavatmal
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
1001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1002,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1003,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15518,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15519,0.0,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15520,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15521,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15522,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df_final = df_final.T
df_final

Unnamed: 0,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,15513,15514,15515,15516,15517,15518,15519,15520,15521,15522
Abohar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Achalpur,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0,0.0,0.0
Adilabad,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
Adityapur,0.0,5.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
Adoni,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vizianagaram,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Warangal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wardha,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yamunanagar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yavatmal,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
from scipy.sparse import csr_matrix

city_features_df_matrix = csr_matrix(df_final.values)

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine',algorithm='brute')

In [14]:
model_knn.fit(city_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [15]:
df_final.shape

(460, 14522)

In [16]:
query_index = np.random.choice(df_final.shape[0])
print(query_index)

353

In [17]:
# query_index = 353

In [18]:
# df_final

In [19]:
distances,indices = model_knn.kneighbors(df_final.iloc[query_index,:].values.reshape(1,-1),n_neighbors=6)

In [20]:
for i in range(0,len(distances.flatten())):
    if i==0:
        print('Recommendations for {0}: \n'.format(df_final.index[query_index]))
    else:
        print('{0}:{1},with distance of {2}'.format(i,df_final.index[indices.flatten()[i]],distances.flatten()[i]))

Recommendations for Pune :

1:Damoh ,with distance of 0.9379882052783879
2:Bhusawal ,with distance of 0.9404116389524364
3:Bhopal ,with distance of 0.940782099945637
4:Singrauli ,with distance of 0.940962565012599
5:Alappuzha ,with distance of 0.9413960838765081